<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.config.app.system.web_name}商户注册</title>
    <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <link href="__admin__/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__admin__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__admin__/css/styles.css" rel="stylesheet">
    <link href="__admin__/css/register.css" rel="stylesheet">
    <!--<script src="__admin__/js/jquery.min.js"></script>-->
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
</head>
<body>
<div id="particles-js">
    <div class="login">
        <div class="login-top">
            注册
        </div>
        <div class="login-center clearfix">
            <div class="login-center-img"><img src="__admin__/img/name.png"/></div>
            <div class="login-center-input">
                <input type="text" name="" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
                <div class="login-center-input-text">用户名</div>
            </div>
        </div>

        <div class="login-center clearfix">
            <div class="login-center-img"><img src="__admin__/img/password.png"/></div>
            <div class="login-center-input">
                <input type="password" name=""value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
                <div class="login-center-input-text">密码</div>
            </div>
        </div>
        <div class="login-button">
            登陆
        </div>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

</body>
</html>
<script src="__admin__/js/particles.min.js"></script>
<script src="__admin__/js/register.js"></script>
<script type="text/javascript">

</script>